.menuTitle {
  display: flex;
  flex-wrap: wrap;
}
.menuTitle p {
  margin: 10px;
}
.menuImg {
  width: 100%;
  height: 100%;
}
.menuImgList {
  display: flex;
}
.menuImgList img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
.cmitem_cardbnfit_lst {
  justify-content: center;
}
