/* 메인 이미지 */
.product-main-image img{
    width: 100%;
}
.product-main-image{
    position: relative;
}
.product-main-image button{
    padding: 20px;
    position: absolute;
    background: none;
    border: none;
}
/* 제품 간단 소개(가격, 정보) */
.product-info{
    padding: 20px;
}

.product-store span{
    font-size: 0.8rem;
    color: #333;
    text-decoration-color: #333;
    font-weight: bold;
}
.product-made-in{
    color: #666;
    font-size: 0.8rem;
}
.product-price{
    padding: 0 20px 0 20px;
}
.discount-price{
    color: #777;
    text-decoration: line-through;
}
.original-price{
    font-size: 1.75rem;
    font-weight: bold;
}
.original-price div{
    color: red;
    display: inline;
}
/* 스마일 클럽 */
.smile-club{
    padding: 20px;
}
.smile-club img{
    width: 100%;
}
.smile-club-message{
    margin: 0 20px 0 20px;
    padding: 20px;
    color: #5d30ff;
    border-radius: 10px;
    border: solid #5d30ff 2px;
}
/* 리뷰 링크만 */
.product-simple-review{
    display: flex;
    padding: 20px;
}
.product-review-page{
    padding: 20px;
}
.product-simple-review :nth-child(2){
    text-decoration-line: underline;
    margin-left: 10px;
}
/* 리뷰 상세페이지 */
.product-review-info{
    padding: 20px 0;
}
.product-review-info div{
    display: flex;
    font-weight: bold;
}
.product-review-info .total-review-cnt{
    font-size: 1.5rem;
}
.product-review-card div{
    display: flex;
}
.product-review-card .review-star{
    font-weight: bold;
    justify-content: space-between;
}
.review-star > :nth-child(2){
    font-size: 0.8rem;
    color: #cdcdd0;
}
.product-review-card > :nth-child(2){
    color: #666;
    font-size: 0.8rem;
}
.product-review-card > :nth-child(3){
    margin-top: 10px;
    color: #666;
    font-size: 0.9rem;
}
.product-review-card > :nth-child(3) > :nth-child(1){
    width: 12%;
    font-weight: bold;
}
.product-review-card .review-content{
    margin-top: 10px;
    font-size: 0.9rem;
}
/* 상품정보 */
.product-detail-info{
    padding: 20px;
}
.product-detail-info .caution{
    text-align: center;
    color: red;
}

.product-detail-info .caution :nth-child(1){
    font-weight: bold;
}
.product-number{
    color: #777;
    margin: 10px 0
}
.product-notify{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-notify div{
    display: flex;
    align-items: center;
}
.product-notify div div{
    border: solid #e5e5e5 0.8px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.product-notify div p{
    padding: 10px 0 0 10px;
}
.product-notify div div svg{
    padding: 23px;
}
.product-notify div button{
    border: solid 0.8px #e5e5e5;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: bold;
}
/* 이미지 리스트 */
.open-product-image{
    display: block;
}
.close-product-image{
    height: 1000px;
    overflow: hidden;
}
.non-shadow{
    text-align: center;
}
.non-shadow :nth-child(1){
    background-color: #fff;
    padding: 20px;
}
.non-shadow :nth-child(2){
    display: none;
}
.i-have-shadow{
    text-align: center;
}
.i-have-shadow :nth-child(2){
    padding: 20px;
}
.i-have-shadow :nth-child(1){
    display: none;
}
.product-detail-img-card img{
    width: 100%;
}

/* 리뷰 */
.product-review-box{
    padding: 20px;
}
.product-review-box .review-box-contain{
    display: flex;
}
.review-image-list{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.review-image-list img{
    width: 100%;
    padding: 0.5px;
}
.total-review-link{
    justify-content: space-between;
    padding: 20px 0 20px 0;
}
.total-review-link .more-button{
    font-size: 0.8rem;
}
.product-consumer-review-title{
    padding: 30px 0 0 0;
    font-size: 1.2rem;
}
.product-review-cnt{
    font-size: 1.5rem;
}

/* 이벤트 & 배송 */

.product-event-detail ul{
    padding: 0;
}
.product-event-detail ul li{
    display: flex;
    padding: 10px 20px 10px 20px;
}
.product-event-detail ul li div p{
    margin: 0;
}
.product-event-title{
    font-size: 0.9rem;
    color: #777;
    width: 20%;
}
.product-event-list div p{
    margin: 0px;
}
.product-event-list button{
    border: solid #eee;
    border-radius: 3px;
    padding: 3px;
    font-size: 0.8rem;
}
.product-event-item-title{
    color: #5d30ff;
    font-weight: bold;
}
/* 토탈 리뷰 */
.total-review-header{
    display: flex;
    justify-content: space-between;
}
.total-review-header .review-title{
    font-weight: bold;
}
.total-review-header .review-more{
    font-size: 0.8rem;
    color:#777
}
.total-review-card{
    margin: 10px 0 10px 0;
}
.total-review-card div ul{
    display: flex;
    padding: 0;
    font-size: 0.8rem;
}
.total-review-card div ul li{
    padding: 5px 5px 0 0;
}
.total-review-card div img{
    width: 50px;
    height: 50px;
}
.total-review-card div span{
    font-size: 0.9rem;
    letter-spacing: -0.5px;
}

/* Q&A 문의 */
.product-qna{
    margin: 0 20px 0 20px;
}
.qna-header{
    display: flex;
    justify-content: space-between;
}
.product-qna-card{
    padding: 10px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}
.product-qna-card div ul{
    display: flex;
    padding: 0;
}
.product-qna-card div ul li{
    display: flex;
}
.qna-title{
    display: flex;
    justify-content: space-between;
}

/* 이벤트 배너 */
.event-banner img{
    width: 100%;
}
/* 상품고시정보 */
.product-guide{
    padding: 10px 20px;
}
.product-guide ul{
    display: flex;
    flex-wrap: wrap;
}
.product-guide ul li{
    padding: 10px 20px;
    margin: 0.5%;
    border: solid 0.5px #e5e5e5;
    border-radius: 10px;
    width: 49%;
    font-size: 0.8rem;
}
.product-guide ul > :nth-child(5){
    width: 100%;
}
/* 스토어 */

/* 하단 구매 바 */
.product-purchase-bar{
    width: 100%;
    /* height: 100px; */
    box-sizing: content-box;
    position: fixed;
    bottom: 0;
    z-index: 3000;
    padding: 0;
    margin: 0;
}
.product-purchase-bar ul{
    display: flex;
    flex-wrap: wrap;
    height: 54px;
    margin: 0;
}
.product-purchase-bar ul li{
    display: flex;
    align-items: center;
}
.product-purchase-bar ul li div{
    margin: auto;
}
.product-purchase-bar ul .product-choice{
    flex-basis: 10%;
    background-color: #fff;
    border: solid #cdcdd0 0.5px;
}
.product-purchase-bar ul .product-present{
    flex-basis: 20%;
    background-color: #fff;
    border: solid #cdcdd0 0.5px;
}
.product-purchase-bar ul .product-purchase{
    background-color: red;
    color: white;
    /* width: 80%; */
    flex-basis: 70%;
}
.product-purchase-bar .product-basket{
    display: none;
}
.product-purchase-bar .product-buy{
    display: none;
}
.product-purchase-like{
    width: 100%;
    box-sizing: content-box;
    position: fixed;
    bottom: 0;
    z-index: 3000;
    padding: 0;
    margin: 0;
}
.product-purchase-like ul{
    margin: 0;
}
.product-purchase-like ul li{
    display: flex;
    align-items: center;
}
.product-purchase-like ul .product-choice{
    display: none;
}
.product-purchase-like ul .product-present{
    width: 100%;
    background-color: red;
    color: #fff;
    height: 54px;
    display: none;
}
.product-present-long{
    width: 100%;
    background-color: red;
    color: #fff;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* text-align: center; */
}
.product-present-long-none{
    display: none;
}
.product-purchase-like ul li div{
    margin: auto;
}
.product-purchase-like ul .product-purchase{
    display: none;;
}
.product-purchase-like ul .product-basket{
    display: none;
}
.product-purchase-like ul .product-buy{
    display: none;
}
.product-purchase-buy{
    width: 100%;
    box-sizing: content-box;
    position: fixed;
    bottom: 0;
    z-index: 3000;
    padding: 0;
    margin: 0;
}
.product-purchase-buy ul{
    display: flex;
    margin: 0;
}
.product-purchase-buy ul li{
    display: flex;
    align-items: center;
    height: 54px;
    color: #fff;
}
.product-purchase-buy ul li div{
    margin: auto;
}
.product-purchase-buy ul .product-choice{
    display: none;
}
.product-purchase-buy ul .product-present{
    display: none;
}
.product-purchase-buy ul .product-purchase{
    display: none;
}
.product-purchase-buy ul .product-basket{
    flex-basis: 50%;
    background-color: #333;
}
.product-purchase-buy ul .product-buy{
    flex-basis: 50%;
    background-color: red;
}
.product-purchase-buy ul .product-buy div a{
    color: white;
}
.option-box{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #333;
}
.purchase-info-zero{
    display: none;
}
.purchase-info-one{
    position: fixed;
    bottom: 50px;
    z-index: 2999;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: -5px -5px 5px rgba(0, 0, 0,0.2);
}
.purchase-info-one .product-qty{
    border: #333 solid 1px;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 10px;
}
.purchase-info-one .product-add{
    display: flex;
    justify-content: space-between;
    border: solid 1px #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.purchase-info-one{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.purchase-info-one .product-qty div{
    display: flex;
    justify-content: space-between;
}
.purchase-info-one .product-total-price{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.purchase-info-one div{
    text-align: center;
}
.product-total-price span{
    font-size: 1.5rem;
    color: red;
    padding: 10px 0;
}
.product-qty div div{
    display: flex;
    align-items: center;
}
.product-qty div div div{
    background-color: white;
    border: solid 1px #f8f8f8;
    height: 33px;
}
.product-qty div div :nth-child(2){
    width: 49px;
}
.num-changer{
    width: 34px;
}
.stock-choice-open{
    position: fixed;
    bottom: 0;
    z-index: 3000;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    box-shadow: -5px -5px 5px rgba(0, 0, 0,0.2);
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
.stock-choice-open  div{
    text-align: center;
}
.stock-choice-close{
    display: none;
}
.stock-list{
    display: flex;
    padding: 20px;
}
.size-choice-open{
    position: fixed;
    bottom: 0;
    z-index: 3000;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    box-shadow: -5px -5px 5px rgba(0, 0, 0,0.2);
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
.size-choice-open div{
    text-align: center;
}
.size-choice-close{
    display: none;
}