@import url("./productCard.css");
@import url("./productList.css");
@import url("./productNav.css");
@import url("./productDetail.css");
@import url("./productPurchase.css");

.product-gray-box{
    background-color: #f5f5f5;
    padding: 10px;
}
.is-important-info{
    font-weight: bold;
}
.product-head-box{
    padding-top: 50px;
}